---
import { Image } from 'astro:assets';

import Logo from '../assets/SVG/LOGO.svg';
import Search from '../assets/SVG/Search.svg';
import User from '../assets/SVG/User.svg';
import Cart from '../assets/SVG/Shopping cart.svg';
import Pil from '../assets/SVG/pil.svg';
---

<header class="header">
  <section class="header__inner">

    <a href="/" class="header__logo">
      <Image src={Logo} alt="Logo wunderwear" class="header__logo-image" />
    </a>

    <nav class="nav">
      <a href="#" class="nav__link">Shop <Image src={Pil} alt="" class="nav__arrow" /></a>
      <a href="#" class="nav__link">Brands <Image src={Pil} alt="" class="nav__arrow" /></a>
      <a href="#" class="nav__link">Inspiration <Image src={Pil} alt="" class="nav__arrow" /></a>
      <a href="#" class="nav__link">Butikker <Image src={Pil} alt="" class="nav__arrow" /></a>
    </nav>

    <div class="header-icons">
      <a href="#"><Image src={Search} alt="Søg" class="header-icons__icon" /></a>
      <a href="#"><Image src={User} alt="Profil" class="header-icons__icon" /></a>
      <a href="#"><Image src={Cart} alt="Kurv" class="header-icons__icon" /></a>
    </div>

    <button class="burger" type="button" aria-label="Åbn menu" data-burger>
      <span></span>
      <span></span>
      <span></span>
    </button>

  </section>

  <nav class="mobile-menu" data-mobile-menu>
    <a href="#">Shop</a>
    <a href="#">Brands</a>
    <a href="#">Inspiration</a>
    <a href="#">Butikker</a>
  </nav>
</header>

<script>
  const burger = document.querySelector("[data-burger]");
  const mobileMenu = document.querySelector("[data-mobile-menu]");

  burger?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("is-open");
    burger?.classList.toggle("is-open");
  });
</script>